.title-blog {
    text-align: center;
}
.title-and-line {
    display: inline-block;
}
.line {
    margin-bottom: 0%;
}
.content-blog {
    display: inline-block;
    position: relative;   
    margin: 10px;
    text-align: center;
    background-color: rgb(248, 245, 245);
}
.blog-link1 {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: indigo;
    font-size: 17px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
}
.content-blog img {
    width: 100%;
    height: auto;
}
.content-blog h4 {
    padding: 20px;
    padding-top: 40px;
    text-transform: uppercase;
}
.content-blog h4 a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.content-blog p {
    padding: 10px;
    padding-bottom: 20px;
    color: grey;
    font-weight: lighter;
    font-size: 17px;
    line-height: 150%;
}
.author {
    display: inline-block;
    width: 95%;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 5px;
    font-size: 13px;
    color: rgb(44, 43, 43);
}
.author .foto {
    display: inline-block;
    float: left;
    width: 40px;
    height: auto;
    border: 4px solid rgb(233, 226, 226);
    border-radius: 27px;
}
.author-name {
    display: inline-block;
    width: calc((100% - 45px) * 0.6);
    float: left;
    margin-top: 15px;
}
.author-name::after {
                    content:'|';
                    padding-left: 5px;                     
                }
.blog-date {
    display: inline-block;
    width: calc((100% - 45px) * 0.4);
    float: right;
    margin-top: 15px;
}
@media (max-width:1100px) {
    .author {
        font-size: 10px;
    }
}

@media (max-width:680px) {
    .author {
        font-size: 13px;
    }
}
