.portfolio-title {
    text-align: center;
}

.portfolio .filter {
    text-align: center;
    text-transform: capitalize;
}

.portfolio .filter .tag {
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px; 
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #777;
    cursor: pointer;
    transition: all .5s;
    position: relative;
}

.portfolio .filter .tag.active {
    color: #9c27b0;
    border-top: 1px solid #ffd3d3;
    transition: all .5s;
}

.portfolio .filter .tag.active::after {
    display: inline-block;
}

.portfolio .filter .tag:hover {
    color: #9c27b0;
}

.portfolio .filter .tag:hover::after {
    color: #9c27b0;
    display: inline;
}

.portfolio .filter .tag::after {
    color: #9c27b0;
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #9c27b0;
    display: none;
}

.portfolio>.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    grid-auto-rows: 160px;
    transition: all .5s;
}

.portfolio>.list>.item {
    grid-column: span 2;
    grid-row: span 2;
    overflow: hidden;
    border-radius: 10px;
    transition: all .5s;
    position: relative;
}

.portfolio > .list > .item.hidden {
    display: none;
}

.portfolio>.list>.item.cell-2 {
    grid-column: span 2;
    grid-row: span 3;
}

.portfolio>.list>.item.cell-3 {
    grid-column: span 4;
}

.portfolio>.list>.item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio>.list>.item:hover {
    border-radius: 4px;
    border: 1px solid #f7f7f7;
}

.portfolio>.list>.item>.portfolio-hover {
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: center;
    border-radius: 10px;
}

.portfolio>.list>.item>.portfolio-hover:hover {
    display: block;
}

.portfolio>.list>.item>.portfolio-hover>.cap {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio>.list>.item>.portfolio-hover>.cap>h6 {
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.portfolio>.list>.item>.portfolio-hover>.cap>span>a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    color: #9c27b0;
}
