.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.575)), url(../img/client.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.testimonials .row .carousel {
    display: inline-block;
    width: 100%;
}

.testimonials .row .carousel .content {
    display: inline-block;
    width: 80%;
    overflow: hidden;
}

.testimonials .row .carousel .content .carousel-list {
    display: inline-block;
    transition: all 1s ease 0s;
}

.testimonials .row .carousel .content .carousel-list * {
    display: inline-block;
}

.testimonials .row .carousel .content .carousel-list .client-review {
   
}

.testimonials .row .carousel .content .carousel-list .client-review .space {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 30px 70px;
    background: rgba(19, 20, 20, 0.6);
}

.testimonials .row .carousel .content .carousel-list .client-review h4 {
    display: inline-block;
    width: 100%;
    color: var(--main-color);
    font-size: 14.4px;
    font-family: 'Montserrat';
    font-weight: 250;
    padding: 10px;
}

.testimonials .row .carousel .content .carousel-list .client-review .rating {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.testimonials .row .carousel .content .carousel-list .client-review .rating i {
    /* display: inline-block; */
    /* width: 100%; */
    font-size: 16px;
    color: #FFD600;
}

.testimonials .row .carousel .content .carousel-list .client-review p {
    display: inline-block;
    width: 100%;
    color: #ccc;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 26px;
}

.testimonials .row .carousel .content .carousel-list .client-review h3 {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(154, 154, 154);
    font-weight: 200;
}

.testimonials .row .carousel .content .carousel-list .client-review h2 {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #ccc;
    font-weight: 100;
}

.testimonials .row .slideButtons {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.testimonials .row .slideButtons>button {
    display: inline-block;
    width: 15px;
    height: 4px;
    background-color: #869791;
    margin: 0 5px;
    padding: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}

.testimonials .row .slideButtons>button.activeBar {
    width: 30px;
    background-color: #9c27b0;
}