.testimonials {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.575)), url(../img/client.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.review {
    position: relative;
    display: inline;
    background-color: rgba(19, 19, 19, 0.6);
    width: 70%;
    margin: 0 auto;
    padding: 25px 50px;
    min-height: 300px;
    /* overflow: hidden; */
    transition: ease 1s;
}

.client-review {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 840px;
    height: 100%;
}

.is-hidden {
    display: none;
}

.is-visible {
    display: block;
}

.testimonials .col-12 h4 {
    color: var(--main-color);
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 250;
    padding: 10px;
    font-size: 18px;
}

.testimonials .col-12 i {
    margin-top: 5px;
    color: rgb(214, 214, 28);
    padding: 2px;
}

.testimonials .col-12 p {
    color: #ccc;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 26px;
}

.testimonials .col-12 h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(154, 154, 154);
    font-weight: 200;
}

.testimonials .col-12 h2 {
    color: #ccc;
    font-weight: 100;
}

.slideButtons {
    display: inline-block;
    background: transparent;
}

.testimonials .slideButtons button {
    display: inline-block;
    width: 20px;
    height: 4px;
    background-color: #869791;
    margin: 0 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.testimonials .slideButtons>button.activeBar {
    width: 34px;
    background-color: #9c27b0;
    color: #9c27b0;
}