.blog {
    text-align: center;
}
    .blCont {
        display: inline-block;
        width: 100%;
    }
    .blCont img {
        display: inline-block;
        float: left;
        width: 50%;
    }

    .blog h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .blog h4 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: normal;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .blog p {
        
        text-align: center;
        font-size: 16px;
        color: gray;

    }

    .blog .author {
        position: static;
        width: 35%;
        float: right;
        padding-top: 60px;
        padding-bottom: 40px;
    }